*
!.gitignore

!cgi/
cgi/*
!cgi/public/
cgi/public/*
!cgi/public/feedback.cgi

!templates/
templates/*

!templates/targets/
!templates/sfxmenu/
templates/targets/*

templates/sfxmenu/*
!templates/sfxmenu/sfxmenu.tmpl

!templates/targets/feedback/
templates/targets/feedback/*
!templates/targets/feedback/feedback.tmpl
!templates/targets/feedback/msgsent.tmpl

!templates/targets/capture_citation/
templates/targets/capture_citation/*
!templates/targets/capture_citation/capture_citation.tmpl

!templates/targets/capture_citation/
templates/targets/capture_citation/*
!templates/targets/capture_citation/capture_citation.tmpl
