*
!.gitignore

!cgi/
cgi/*
!cgi/public/
cgi/public/*
!cgi/public/feedback.cgi

!templates/
templates/*
!templates/targets/
!templates/sfxmenu/
templates/targets/*
templates/sfxmenu/*
!templates/sfxmenu/sfxmenu.tmpl
!templates/targets/feedback/
templates/targets/feedback/*
!templates/targets/feedback/feedback.tmpl

