<html>
    <head>
	<title>
	    SFX -  Comments Sent
	</title>
    </head>
	<body>
	    <font face="Verdana, Arial, Helvetica" size="3">
		<center>
		    <p>
			Thank you. Your message has been sent to the University of Chicago Library. We will respond as quickly as possible.
		    </p>
		</center>
	</body>
</html>

